<div class="main-container mt-md-4 px-md-4">
  <app-navbar></app-navbar>
  <div class="row mx-2 pt-md-4 pb-md-4">
    <div class="col-md-6 pe-md-4">
      <h1 class="lh-base">Navigating the digital landscape for success</h1>
      <img src="../assets/img/speaker.png" class="d-md-none" width="100%">
      <p>Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.</p>
      <button class="button btn-primary">Book a consultation</button>
    </div>
    <div class="col-md-6 ps-md-4">
      <img src="../assets/img/speaker.png" class="d-none d-md-block" width="100%">
    </div>
  </div>

  <div class="d-flex flex-md-row flex-column align-items-center mx-3 mt-4">
    <h2 class="txt-pill txt-neon text-center mb-3 mb-md-0 ms-md-1 me-md-5">Services</h2>
    <div>
      <p class="mb-0">At our digital marketing agency, we offer a range of services to</p>
      <p class="mb-0">help businesses grow and succeed online. These services include:</p>
    </div>
  </div>

  <div class="row g-4 mx-2 mt-5 pb-5">
    <div class="col-md-6">
      <div class="d-grid card fix-height bg-gray">
        <div class="card-content">
          <h3 class="txt-pill txt-neon mb-0">Search engine</h3>
          <h3 class="txt-pill txt-neon">optimization</h3>
        </div>
        <div class="card-content card-bottom">
          <button class="btn-link floating d-flex align-items-center">
            <i class="icon ic-arrow-neon bg-black"></i>
            <span class="ms-2 d-none d-md-inline-block txt-black">Learn More</span>
          </button>
          <img src="../assets/img/seo.png" width="200px" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-grid card fix-height bg-neon">
        <div class="card-content">
          <h3 class="txt-pill txt-white mb-0">Pay-per-click</h3>
          <h3 class="txt-pill txt-white">advertising</h3>
        </div>
        <div class="card-content card-bottom">
          <button class="btn-link floating d-flex align-items-center">
            <i class="icon ic-arrow-neon bg-black"></i>
            <span class="ms-2 d-none d-md-inline-block txt-black">Learn More</span>
          </button>
          <img src="../assets/img/pay-per-click.png" width="200px" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-grid card fix-height bg-black">
        <div class="card-content">
          <h3 class="txt-pill txt-white mb-0">Social Media</h3>
          <h3 class="txt-pill txt-white">Marketing</h3>
        </div>
        <div class="card-content card-bottom">
          <button class="btn-link floating d-flex align-items-center">
            <i class="icon ic-arrow-black bg-white"></i>
            <span class="ms-2 d-none d-md-inline-block txt-white">Learn More</span>
          </button>
          <img src="../assets/img/social-media.png" width="200px" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-grid card fix-height bg-gray">
        <div class="card-content">
          <h3 class="txt-pill txt-neon mb-0">Email</h3>
          <h3 class="txt-pill txt-neon">Marketing</h3>
        </div>
        <div class="card-content card-bottom">
          <button class="btn-link floating d-flex align-items-center">
            <i class="icon ic-arrow-neon bg-black"></i>
            <span class="ms-2 d-none d-md-inline-block txt-black">Learn More</span>
          </button>
          <img src="../assets/img/email.png" width="200px" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-grid card fix-height bg-neon">
        <div class="card-content">
          <h3 class="txt-pill txt-white mb-0">Content</h3>
          <h3 class="txt-pill txt-white">Creation</h3>
        </div>
        <div class="card-content card-bottom">
          <button class="btn-link floating d-flex align-items-center">
            <i class="icon ic-arrow-neon bg-black"></i>
            <span class="ms-2 d-none d-md-inline-block txt-black">Learn More</span>
          </button>
          <img src="../assets/img/content.png" width="200px" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-grid card fix-height bg-black">
        <div class="card-content">
          <h3 class="txt-pill txt-white mb-0">Analytic</h3>
          <h3 class="txt-pill txt-white">Tracking</h3>
        </div>
        <div class="card-content card-bottom">
          <button class="btn-link floating d-flex align-items-center">
            <i class="icon ic-arrow-black bg-white"></i>
            <span class="ms-2 d-none d-md-inline-block txt-white">Learn More</span>
          </button>
          <img src="../assets/img/analytics.png" width="200px" />
        </div>
      </div>
    </div>
  </div>

  <div class="card mx-2 my-md-5 border-none bg-gray">
      <div class="col-md-6">
        <h3 class="mb-3">Let's make things happen</h3>
        <p class="mb-3">Contact us today to learn more about how our digital marketing services can help your business grow and succeed online.</p>
        <button class="button btn-primary">Get your free proposal</button>
      </div>
      <img class="img-smiley d-none d-md-block" src="../assets/img/smiley-spark.png" >
  </div>

  <div class="d-flex flex-md-row flex-column align-items-center mx-3 pt-4">
    <h2 class="txt-pill txt-neon text-center mb-3 mb-md-0 ms-md-1 me-md-5">Case Studies</h2>
    <div>
      <p class="mb-0">Explore real-life examples of our proven digital marketing</p>
      <p class="mb-0">success through our case studies</p>
    </div>
  </div>

  <!-- <div class="card mx-2 my-md-5 border-none bg-black"> -->
    <div class="row mx-2 my-md-5 py-md-5">
      <div class="col-md-4 card card-left border-none bg-black">
        <p class="mb-3 txt-white">For a local restaurant, we implemented a targeted PPC campaign that resulted in a 50% increase in website traffic and a 25% increase in sales.</p>
        <button class="btn-link d-flex align-items-center">
          <span class="d-none d-md-inline-block txt-neon">Learn More</span>
          <i class="icon ic-arrow-neon"></i>
        </button>
      </div>
      <div class="col-md-4 card card-middle border-none bg-black">
        <p class="mb-3 txt-white">For a B2B software company, we developed an SEO strategy that resulted in a first page ranking for key keywords and a 200% increase in organic traffic.</p>
        <button class="btn-link d-flex align-items-center">
          <span class="d-none d-md-inline-block txt-neon">Learn More</span>
          <i class="icon ic-arrow-neon"></i>
        </button>
      </div>
      <div class="col-md-4 card card-right border-none bg-black">
        <p class="mb-3 txt-white">For a national retail chain, we created a social media marketing campaign that increased followers by 25% and generated a 20% increase in online sales.</p>
        <button class="btn-link d-flex align-items-center">
          <span class="d-none d-md-inline-block txt-neon">Learn More</span>
          <i class="icon ic-arrow-neon"></i>
        </button>
      </div>
    </div>
<!-- </div> -->

  <div class="d-flex flex-md-row flex-column align-items-center mx-3 py-4">
    <h2 class="txt-pill txt-neon text-center mb-3 mb-md-0 ms-md-1 me-md-5">Our Working Process</h2>
    <div>
      <p class="mb-0">Step-by-Step Guide to Achieving</p>
      <p class="mb-0">Your Business Goals</p>
    </div>
  </div>

  
</div>